# Binary
/sqlight

# Test databases
testdata/sample.db
testdata/sample.db-shm
testdata/sample.db-wal

# VHS
/*.tape

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# GoReleaser
dist/
